/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
# Ignore gem files
*.gem

# Ignore system files
*.log
.DS_Store
*.swp

# Ignore IDE files
.idea/
.vscode/

# Ignore cache or temporary files
sig/
tmp/
